.Product-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    li {
        list-style-type: none;
    }
}

.Tipos {
    font-size: 12px;
    color: var(--Third-Color);
}

.Nombres {
    color: var(--First-Color);
    font-weight: 600;
}

.Precio {
    color: var(--Second-Color);
    font-weight: 600;

}
