.contador-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--Second-Color);
    width: 200px;
    height: 45px;
    border-radius: 50px;
    color: var(--Fourth-Color);
    font-weight: 200;
}

.contador {
    font-size: 18px;
    margin: 0;
    font-weight: 100;
}


.botones {
    border: none;
    background: none;
    color: var(--fourth-Color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Fourth-Color);
    border-radius: 50%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
            .material-icons{
              font-size: 20px;
            }
}


 

